@layer components {
    .field {
        @apply flex flex-col w-full;
    }
    label,
    .label {
        @apply font-medium text-base text-primary mb-1;
    }
    .input-field {
        @apply border border-gray-400 w-full h-11 px-4 rounded  outline-none hover:border-2 focus:border focus:border-primary transition-all duration-200 ease-in;
    }
    .main-layout {
        @apply container flex justify-center items-center min-h-screen;
    }
    .auth-box {
        @apply w-[450px] mx-auto relative inset-x-0 top-5 max-w-[100%] bg-clear px-9 py-7 flex flex-col gap-2;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        border-radius: 3px;
    }
    .auth-title {
        @apply font-bold text-xl text-center flex items-center justify-center relative;
        background: linear-gradient(90deg, #35355b 0%, #89216b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .auth-form {
        @apply flex flex-col gap-3;
    }
    .btn {
        @apply rounded px-4 py-3 bg-primary text-clear w-full mt-1 flex justify-center disabled:bg-gray-500;
    }
    .pc {
        @apply hidden lg:flex;
    }
    .mobile {
        @apply flex lg:hidden;
    }
    .modal {
        @apply bg-white flex flex-col items-start gap-4  py-8 md:px-12 px-8 rounded-md w-[470px] max-w-[90%];
    }
    .modal-title {
        @apply font-medium text-xl text-start w-full text-primary border-b border-line pb-2;
    }
    .modal-btn {
        @apply rounded px-4 py-2 bg-primary text-clear w-full mt-6 flex justify-center;
    }
    .sidebar {
        @apply fixed inset-y-0 left-0;
        width: 280px;
        height: 100vh;
        z-index: 1000;
        padding: 1.8rem 0.8rem;
        background: #fff;
        position: relative;
        box-shadow: 5px 0 20px 2px rgb(0 0 0 / 20%);
    }
}
