/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.cdnfonts.com/css/br-firma');

* {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'BR Firma', sans-serif;
}

html,
body {
    @apply overflow-x-hidden;
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

select {
    -webkit-appearance: none;
    appearance: none;
}

.title {
    text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
}

.slideUp-enter-from,
.slideUp-leave-to {
    opacity: 0;
    transform: translateY(500px);
}

.slideUp-enter-active,
.slideUp-leave-active {
    transition: all 0.75s ease;
}

@layer utilities {
    .center {
        @apply flex justify-center items-center;
    }
    .center-col {
        @apply flex flex-col justify-center items-center;
    }
    .transite {
        @apply transition-all duration-150 ease-in;
    }
}
